<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vendor.name %>
</p>

<p>
  <b>Category:</b>
  <%= @vendor.category %>
</p>

<p>
  <b>Rating:</b>
  <%= @vendor.rating %>
</p>


<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
